components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    Health:
      description: Service health probe response.
      properties:
        db:
          title: Db
          type: boolean
        redis:
          title: Redis
          type: boolean
        status:
          examples:
          - ok
          title: Status
          type: string
      required:
      - status
      - db
      - redis
      title: Health
      type: object
    LoginRequest:
      properties:
        firebase_token:
          title: Firebase Token
          type: string
      required:
      - firebase_token
      title: LoginRequest
      type: object
    LoginResponse:
      properties:
        access_token:
          title: Access Token
          type: string
        role:
          anyOf:
          - $ref: '#/components/schemas/Role'
          - type: 'null'
        role_set:
          title: Role Set
          type: boolean
        token_type:
          default: bearer
          title: Token Type
          type: string
      required:
      - access_token
      - role
      - role_set
      title: LoginResponse
      type: object
    MeResponse:
      properties:
        email:
          anyOf:
          - type: string
          - type: 'null'
          title: Email
        firebase_uid:
          title: Firebase Uid
          type: string
        role:
          $ref: '#/components/schemas/Role'
        role_set:
          title: Role Set
          type: boolean
      required:
      - firebase_uid
      - email
      - role
      - role_set
      title: MeResponse
      type: object
    Role:
      enum:
      - influencer
      - brand
      - admin
      title: Role
      type: string
    SetRoleRequest:
      properties:
        role:
          $ref: '#/components/schemas/Role'
      required:
      - role
      title: SetRoleRequest
      type: object
    SetRoleResponse:
      properties:
        role:
          $ref: '#/components/schemas/Role'
        role_set:
          title: Role Set
          type: boolean
      required:
      - role
      - role_set
      title: SetRoleResponse
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
  securitySchemes:
    HTTPBearer:
      scheme: bearer
      type: http
info:
  description: P0 contract for the Cravio influencer marketplace. Generated from FastAPI
    route and Pydantic schema definitions, committed to docs/openapi.yaml, and drift-checked
    in CI (see ADR-0001/0002).
  title: Cravio API
  version: 0.1.0
openapi: 3.1.0
paths:
  /auth/login:
    post:
      operationId: login_auth_login_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Exchange Firebase ID token for internal JWT
      tags:
      - Auth
  /auth/me:
    get:
      operationId: me_auth_me_get
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get current user (requires role set)
      tags:
      - Auth
  /auth/role:
    post:
      operationId: set_role_auth_role_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetRoleRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetRoleResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Set role once during onboarding
      tags:
      - Auth
  /health:
    get:
      operationId: health_health_get
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
          description: Successful Response
      summary: Health check
      tags:
      - System
servers:
- description: Production
  url: https://api.cravio.in
- description: Local
  url: http://localhost:8000
